.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f4f7;
  padding: 24px 120px;
  background-color: #f2f4f7;
}

.navigation {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: #101828;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navigationLink:hover,
.navigationLink.active {
  color: #0b44cd;
}
